@media screen and (max-width: 576px){
    body {
        display:inline-block;
        flex-direction: column;

    }

    h1 {

        text-align: center;
    }
    div>a{
        background-color:lightblue;
        margin-solid: lightblue;
        border: 20px;
        display: flex;
        padding: 20px;
        justify-content: center;
        border:solid black;
        flex-shrink: 0;
        flex-basis: auto;

    }
    nav{

        display: flex;
        margin-bottom: 20px;
        justify-content: left;
        margin-right: 20px;
        flex-shrink: 0;


    }
    ul>li{
        list-style: none;
        display: flex;
        justify-content: center;
        border: solid black;
        padding: 20px;
        width: 300px;
        margin: 30px;
        background-color: lightgrey;

    }
    .header {
        display: flex;
        margin: 0 0 0 135px;
        justify-content: start;
        font-size: 50px;
    }
    .blue-button {
        margin: 0 60px 0 0;
    }
    .container {
       display: inline-block;
       margin: 0 0 0 80px;
       width: 335px;

    }
    .header-img {
        max-width: 100%;
        height: auto;
    }
}

