body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-message-info {
    background-color: cornflowerblue;
    margin: 0.8em 1em 0.8em 0em;
    border: solid #c7c0b9 ;
    color: #2749ba;
    padding:  0.5em 0.5em 0.5em 0.5em;
    border-radius: 8px;

}

.message-message-success {
    background-color: #cbffcd;
    margin: 0.8em 1em 0.8em 0em;
    border: solid #c7c0b9;
    padding:  0.5em 0.5em 0.5em 0.5em;
    color: #399642;
    border-radius: 8px;
}

.message-message-warning {
    background-color:#f7f7b7 ;
    margin: 0.8em 1em 0.8em 0em;
    border: solid #c7c0b9;
    padding:  0.5em 0.5em 0.5em 0.5em;
    color: #a3a331;
    border-radius: 8px;
}

.message-message-error {
    background-color: #f59d9d;
    margin: 0.8em 1em 0.8em 0em;
    border: solid #c7c0b9;
    padding:  0.5em 0.5em 0.5em 0.5em;
    color: #d92525;
    border-radius: 8px;
}