.fancy-header {
    color: mediumpurple; /* single line comment */
    text-decoration: underline;
}

#center {
    text-align: center;
}

h1, h2{
    font-family: "Academy Engraved LET";
    font-style: oblique;
    text-decoration: underline;
}
body {
    background: lavenderblush linear-gradient(45deg,mediumpurple,white);
    font-family: "Adelle Sans Devanagari";
}

ul {
    list-style-type: georgian;
}
tr,td {
    font-weight: bolder;
}
table {
    font-style: italic;
}

a {
    box-shadow: inset 0 0 0 0 #bfb5c9;
    color: #bfb5c9;
    margin: 0 -.25rem;
    padding:0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}


