body {
    background: url(/cover/purple-crystalball-v2.png) no-repeat center center fixed;
    background-size: cover;
    height: 600px;
    margin: 5px;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: start;       /* Map positioning*/
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center ;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    opacity: 80%;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
    /*background-color: #ff70a6;*/
}
div.item:nth-of-type(2) {
    --offset: 2;
    /*background-color: #ff70a6;*/
}
div.item:nth-of-type(3) {
    --offset: 3;
    /*background-color: #ff70a6;*/
}
div.item:nth-of-type(4) {
    --offset: 4;
    /*background-color: #ff70a6;*/
}
div.item:nth-of-type(5) {
    --offset: 5;
    /*background-color: #ff70a6;*/
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}
ul {
    list-style: none;
    opacity: 70%;
    border-radius: 50%;
    height: 50px;
}
/*Circle pre-sets*/
#circle {
    width: 500px;
    height: 500px;
    position: fixed;
    margin: 60px 50px 0px 500px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    /*border: solid white;         USE THIS AS A GUIDE TO PLACE THE CRYSTAL BALL TRANSITIONS INSIDE OF THE BALL*/
}

#input-map {
   position: relative;

}

#input-child {
    position: absolute;
    bottom: 0px;
}
h2 {
    font-family: 'Shalimar', cursive;
    color: white;
    background-color: darkmagenta;
    border-radius: 30%;
}
#weather-info{
    display: flex;
    height: 100vh;
    place-items: center;
    box-sizing: border-box;
    margin: 40px 80px 80px 350px;
    padding: 50px;
    position: fixed;
    line-height: 50px;
    text-align: start;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
}
/*Ball glow*/
#circle {
    display: grid;
    height: 100vh;
    place-items: center;
    box-sizing: border-box;
    margin: 50px 0 80px 650px;
    padding: 50px;
    width: 600px;
    position: fixed;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    opacity: 40%
}

#circle::before {
    animation: anim 30s infinite;
    border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
    content: "";
    filter: drop-shadow(0 0 3vmin Thistle) drop-shadow(0 5vmin 4vmin Orchid)
    drop-shadow(2vmin -2vmin 15vmin MediumSlateBlue)
    drop-shadow(0 0 7vmin MediumOrchid);
    height: 50vmin;
    width: 50vmin;
}

@keyframes anim {
    0%,
    100% {
        border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
        box-shadow: 0 -2vmin 4vmin LightPink inset, 0 -4vmin 4vmin MediumPurple inset,
        0 -2vmin 7vmin purple inset;
    }

    10% {
        border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
    }

    20% {
        border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
    }

    30% {
        border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
        box-shadow: 0 -4vmin 8vmin hotpink inset, -1vmin -2vmin 6vmin LightPink inset,
        -1vmin -2vmin 4vmin MediumPurple inset, 1vmin 4vmin 8vmin purple inset;
    }

    40% {
        border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
    }

    50% {
        border-radius: 100%;
        box-shadow: 0 4vmin 16vmin hotpink inset, 0 2vmin 5vmin LightPink inset, 0 4vmin 4vmin MediumPurple inset,
        0 6vmin 8vmin purple inset;
    }

    60% {
        border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
    }

    70% {
        border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
        box-shadow: 1vmin 1vmin 8vmin LightPink inset,
        2vmin -1vmin 4vmin MediumPurple inset, -1vmin -1vmin 16vmin purple inset;
    }

    80% {
        border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
    }

    90% {
        border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
    }
}
